@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Hind';
    background: #eae9e9;
    color: rgb(60, 60, 60);
  }
}

.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 30px;
  cursor: pointer;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
}